html {
    scroll-behavior: smooth;
}

/* Foreground color for body */
body {
    color: #161616;
}

/* Foreground color for anchor elements */
a {
    color: #161616;
}

/* Elements with class visually-hidden */
.visually-hidden {
    display: none;
}

/* Foreground color for elements with class card-category */
.card-category {
    color: #D73953;
}

/* Foreground color for elements with class section-tagline */
.section-tagline {
    color: #D73953;
}
